@use "../declarations";

html {
    font-family: Montserrat, Arial, sans-serif;
    color: declarations.$colorText;
}

body {
    padding: declarations.$paddingYPage declarations.$paddingXPage;
}

.main {
    max-width: declarations.$widthPage;
    margin: 0 auto;
}

.page-title {
    @include declarations.font(48px, $height: 59px);

    margin-bottom: 20px;
}

.page-description {
    @include declarations.font(24px, $height: 34px);
}
