@use "@styles/declarations";

.progress-bar-wrap {
    padding: 23px 0;
}

.progress-bar {
    position: relative;

    height: 12px;
    border-radius: 6px;

    background-color: declarations.$colorBgBase;

    line-height: 20px;
    font-weight: 800;

    transition: declarations.$transition;

    .progress-bar__min-label,
    .progress-bar__max-label {
        position: absolute;
        bottom: calc(100% + 3px);
    }

    .progress-bar__min-label {
        left: 0;
    }

    .progress-bar__max-label {
        right: 0;
    }

    .progress-bar-runner {
        position: relative;

        height: inherit;
        border-radius: inherit;

        background-color: declarations.$colorPrimary;

        .progress-bar-runner__counter {
            position: absolute;
            top: calc(100% + 3px);
            right: 0;
        }
    }
}
